<div *ngIf="currentItem && currentItem.isSelected else noItem">
  <!-- Header -->
  <div class="header">
    <div class="mode-name">{{mode.name}}</div>
    <input #fileInput (change)="uploadImage($event)" type="file" style="display: none">
    <div *ngFor="let button of mode.buttons" class="button" [title]="button.title" (click)="button.onClick()">
      <i [class]="button.icon"></i>
    </div>
  </div>

  <!-- Content -->
  <div *ngIf="images.length > 0 else noPreview" class="content" [ngClass]="{'content-horizontal': mode.display === 'horizontal', 'content-vertical': mode.display === 'vertical'}">
    <div *ngFor="let image of images" class="img-container" [ngClass]="{'img-horizontal': mode.display === 'horizontal', 'img-single': mode.display === 'single', 'img-vertical': mode.display === 'vertical'}">
      <div *ngIf="image.isSelected" class="img-overlay"></div>
      <img [src]="'/Images/' + image.name" [ngClass]="{'img-horizontal': mode.display === 'horizontal', 'img-single': mode.display === 'single', 'img-vertical': mode.display === 'vertical'}">
    </div>
  </div>

  <ng-template #noPreview>
    <div class="no-preview">No Preview</div>
  </ng-template>
</div>

<ng-template #noItem>
  <div class="no-preview">No Item Selected</div>
</ng-template>