<div *ngIf="items">
    <select #tmpSelect style="padding-left: 5px; position: absolute; visibility: hidden">
        <option [innerHtml]="selectedSearchOption"></option>
    </select>
    <div class="search-container">
        <select [style.width.px]="tmpSelect.offsetWidth" [(ngModel)]="selectedSearchOption" name="searchOptions">
            <option *ngFor="let option of searchOptions" [ngValue]="option">{{option}}</option>
        </select>
        <i class="fas fa-search fa-sm"></i>
        <input type="text" class="search" (input)="onSearchChange($event.target.value)">
        <i class="fas fa-times-circle fa-sm"></i>
    </div>


    <div class="grid" [style.height.px]="gridHeight">
        <div class="header">Categories</div>
        <div id="tier1" *ngFor="let tier1 of items; let i = index" style="position:relative">
            <input #tier1Checkbox [id]="'tier1Checkbox' + i" type="checkbox" (change)="onTier1CheckboxChange(i, tier1Checkbox)">
            <label [for]="'tier1Checkbox' + i"></label>
            <div class="row" style="position:absolute">{{tier1.name}}</div>


            <div class="header max-height" style="margin-left: 21px">Niches</div>
            <div id="tier2" class="max-height" *ngFor="let tier2 of tier1.niches; let j = index" [ngClass]="{'max-height-expanded' : tier2Checkbox.checked}"
                (transitionend)="tier2TransitionEnd(i, tier1Checkbox)">
                <input #tier2Checkbox [id]="'tier2Checkbox_' + i + '_' + j" (change)="onTier2CheckboxChange(i, j, tier2Checkbox)" type="checkbox">
                <label [for]="'tier2Checkbox_' + i + '_' + j" style="margin-left: 21px"></label>
                <div class="row" style="position:absolute">{{tier2.name}}</div>


                <div class="header max-height" style="margin-left: 42px">Products</div>
                <div id="tier3" class="max-height" *ngFor="let tier3 of tier2.products" (transitionend)="tier3TransitionEnd(i, j, tier2Checkbox)">
                    <div class="row" style="margin-left: 42px">{{tier3.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>