<div class="bar" style="background: #2d2d2d;">

    <span class="button" (click)="delete()">
        <i class="fas fa-trash-alt"></i>
    </span>

    <span style="color: #9a9a9a;margin-left: 12px;" (click)="copy()">
        <i class="fas fa-copy"></i>
    </span>

    <span style="color: #9a9a9a;margin-left: 12px;" (click)="paste()">
        <i class="fas fa-paste"></i>
    </span>

    <!-- <span style="color: #9a9a9a;margin-left: 12px; ">
      <i class="fas fa-link"></i>
  </span> -->

</div>


<div class="bar" style="background: #282828;">
    <span style="color: #9a9a9a;margin-left: 12px;" (click)="setBackgroundColor()">
        <i class="fas fa-fill"></i>
    </span>
    <span style="color: #9a9a9a;margin-left: 12px;" (click)="setStyle('fontWeight', 'bold')">
        <i class="fas fa-bold"></i>
    </span>
    <!-- 

  <span style="color: #9a9a9a;margin-left: 12px; ">
      <i class="fas fa-italic"></i>
  </span>

  <span style="color: #9a9a9a;margin-left: 12px; ">
      <i class="fas fa-underline"></i>
  </span>

  <span style="color: #9a9a9a;margin-left: 12px; ">
      <i class="fas fa-font"></i>
  </span>

  

  <span style="color: #9a9a9a;margin-left: 12px; ">
      <i class="fas fa-align-left"></i>
  </span>

  <span style="color: #9a9a9a;margin-left: 12px; ">
      <i class="fas fa-align-center"></i>
  </span>

  <span style="color: #9a9a9a;margin-left: 12px; ">
      <i class="fas fa-align-right"></i>
  </span>


  <span style="color: #9a9a9a;margin-left: 12px; ">
      <i class="fas fa-list-ul"></i>
  </span>
  <span style="color: #9a9a9a;margin-left: 12px; ">
      <i class="fas fa-list-ol"></i>
  </span> -->
    <!-- <select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    <input value="999"> -->
</div>

<div style="width: 100%;
text-align: center;
margin-top: 28px;color: #d2d2d2;  ">

    <div style="color: white; margin-top: 5px; margin-bottom: 5px">Position</div>
    <span style="margin-right: 10px; font-size: 14px;">X:</span>
    <input style="display: inline-block;
      width: 35px;
      text-align: center;
      border: none;
      border-radius: 5px;
      outline: none;
      color: #d2d2d2;
      font-size: 14px;
      background: #1e1e1e;" [value]="currentContainer && currentContainer.currentEditBox ? currentContainer.currentEditBox.rect.x : ''">
    <br>

    <span style="margin-right: 10px; font-size: 14px;">Y:</span>
    <input style="display: inline-block;
      width: 35px;
      text-align: center;
      border: none;
      border-radius: 5px;
      outline: none;
      color: #d2d2d2;
      font-size: 14px;
      background: #1e1e1e;" value="999">


    <div style="color: white; margin-top: 5px; margin-bottom: 5px">Size</div>
    <span style="margin-right: 10px; font-size: 14px;">W:</span>
    <input style="display: inline-block;
      width: 35px;
      text-align: center;
      border: none;
      border-radius: 5px;
      outline: none;
      color: #d2d2d2;
      font-size: 14px;
      background: #1e1e1e;" value="999">
    <br>

    <span style="margin-right: 10px; font-size: 14px;">H:</span>
    <input style="display: inline-block;
      width: 35px;
      text-align: center;
      border: none;
      border-radius: 5px;
      outline: none;
      color: #d2d2d2;
      font-size: 14px;
      background: #1e1e1e;" value="999">



</div>