<div *ngIf="currentContainer && currentContainer.currentEditBox && currentContainer.currentEditBox.isSelected">
    <div class="bar">

        <!-- Edit group -->
        <div class="group">
            <div class="style-button" (click)="delete()" title="Delete (Del)">
                <i class="fas fa-trash-alt"></i>
            </div>

            <div class="style-button" (click)="copy()" title="Copy (Ctrl+C)">
                <i class="fas fa-copy"></i>
            </div>

            <div class="style-button" (click)="paste()" title="Paste (Ctrl+V)" [ngClass]="{'style-button-disabled': !copied.component}">
                <i class="fas fa-paste"></i>
            </div>
        </div>

        <!-- Other groups and styles -->
        <div *ngFor="let group of currentContainer.currentEditBox.styles | groupBy" class="group">
            <div *ngIf="group.group != 'dropdown'; else dropdownGroup" style="position:relative">


                

                    <div *ngIf="group.group === 'link' && group.styles[0].showLinkOptions"  style="position: absolute; width: 180px; background: blue; top: 24px;">
                            
                            <input type="radio" name="gender" value="male"> <iframe id="iframeLink" style="width: 169px; height: 17px; border: none; display: block; margin: auto; margin-top: 5px;" scrolling="no" srcdoc='<input autofocus id="link" style="position: absolute; left: 0; top: 0; border: none;">'></iframe><br>
                            <input type="radio" name="gender" value="female"> Female<br>
                            <input type="radio" name="gender" value="other"> Other<br>
    
                            <button (click)="group.styles[0].styleValue = group.styles[0].linkInput.value; group.styles[0].setStyle(); group.styles[0].showLinkOptions = false">Apply</button>
                        </div>


                <div *ngFor="let style of group.styles" class="style-button" (click)="style.onClick(); currentContainer.currentEditBox.setChange()"
                    [title]="style.title" [ngClass]="{'style-button-activated': style.isSelected, 'style-button-disabled': !currentContainer.currentEditBox.inEditMode}">

                    

                    <div *ngIf="style.group === 'color' && currentContainer.currentEditBox.inEditMode" class="color-bar"
                        [style.backgroundColor]="style.styleValue"></div>
                    <i [class]="style.icon"></i>
                </div>
            </div>
            <ng-template #dropdownGroup>
                <select *ngFor="let style of group.styles" #dropdown (change)="style.onClick(dropdown.value); currentContainer.currentEditBox.setChange()"
                    [title]="style.title" [value]="currentContainer.currentEditBox.inEditMode ? style.styleValue : ''"
                    [disabled]="!currentContainer.currentEditBox.inEditMode" [ngClass]="{'style-button-disabled': !currentContainer.currentEditBox.inEditMode}">
                    <option *ngFor="let option of style.options" [value]="option.value">{{option.name}}</option>
                </select>
            </ng-template>
        </div>

    </div>




    <div style="width: 100%;
    text-align: center;
    margin-top: 28px;color: #d2d2d2;  ">

        <div style="color: white; margin-top: 5px; margin-bottom: 5px">Position</div>
        <span style="margin-right: 10px; font-size: 14px;">X:</span>
        <input style="display: inline-block;
          width: 35px;
          text-align: center;
          border: none;
          border-radius: 5px;
          outline: none;
          color: #d2d2d2;
          font-size: 14px;
          background: #1e1e1e;"
            [value]="currentContainer && currentContainer.currentEditBox ? currentContainer.currentEditBox.rect.x : ''">
        <br>

        <span style="margin-right: 10px; font-size: 14px;">Y:</span>
        <input style="display: inline-block;
          width: 35px;
          text-align: center;
          border: none;
          border-radius: 5px;
          outline: none;
          color: #d2d2d2;
          font-size: 14px;
          background: #1e1e1e;"
            value="999">


        <div style="color: white; margin-top: 5px; margin-bottom: 5px">Size</div>
        <span style="margin-right: 10px; font-size: 14px;">W:</span>
        <input style="display: inline-block;
          width: 35px;
          text-align: center;
          border: none;
          border-radius: 5px;
          outline: none;
          color: #d2d2d2;
          font-size: 14px;
          background: #1e1e1e;"
            value="999">
        <br>

        <span style="margin-right: 10px; font-size: 14px;">H:</span>
        <input style="display: inline-block;
          width: 35px;
          text-align: center;
          border: none;
          border-radius: 5px;
          outline: none;
          color: #d2d2d2;
          font-size: 14px;
          background: #1e1e1e;"
            value="999">



    </div>
</div>