<!-- Temp Select -->
<select #tmpSelect style="padding-left: 5px; position: absolute; visibility: hidden">
  <option [innerHtml]="selectedSearchOption"></option>
</select>

<!-- Search -->
<div class="search-container">
  <select [style.width.px]="tmpSelect.offsetWidth" [(ngModel)]="selectedSearchOption" name="searchOptions" [style.display]="searchOptions.length > 1 ? 'block' : 'none'">
    <option *ngFor="let option of searchOptions" [ngValue]="option">{{option}}</option>
  </select>
  <i class="fas fa-search fa-sm"></i>
  <input #search type="text" class="search" (input)="onSearchChange($event.target.value)" [style.border-radius]="searchOptions.length > 1 ? '0 100px 100px 0' : '100px'">
  <div (click)="clearSearchText(search)">
    <i class="fas fa-times-circle fa-sm"></i>
  </div>
</div>

<!-- Grid -->
<div class="grid" [style.height.px]="gridHeight">
  <tier></tier>
</div>