input{
    display: none;
}
label{
    background: #424141;;
    width: 46px;
    height: 46px;
    display: block;
    text-align: center;
    line-height: 46px;
    color: #676767;
    cursor: pointer;
    border: 1px solid #585858;
    box-sizing: border-box;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'FontAwesome';
    font-size: 16px;
    transition: all 0.2s;
}
input:checked ~ label{
    background: #545454;
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
    font-size: 20px;
}
input:not(:checked) ~ label:hover{
    background: #424141;
    color: #868686;
    border: 1px solid #838282;
    font-size: 20px;
}