@import 'theme';

.background {
    width: 100%;
    height: 100%;
    background: #00000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background: #424141;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #656565;
    position: absolute;
    user-select: none;
    @include shadow();
}
.title {
    color: #9e9e9e;
    margin: 5px 5px 5px 10px;
}
.close {
    color: #bbbbbb;;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px;
    cursor: pointer;
}
.close:hover {
    color: white;
}
.close:active {
    color: #868686
}
.content {
    background: #333333;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #585858;
}
input {
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    color: #d2d2d2;
    font-size: 14px;
    background-color: #3d3d3d;
    border-color: #5e5e5e;
    height: 18px;
    width: 255px;
    padding-left: 5px;
    margin: auto;
    margin-bottom: 10px;
}
input:first-child {
    margin-top: 10px;
}
button {
    width: 265px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}