<div *ngIf="grid && grid.currentItem && grid.currentItem.isSelected && grid.currentItem.documents && grid.currentItem.documents.length > 0 && grid.currentItem.documents[0].isSelected">
  <div class="bar">
    <span class="label">Lead Magnet:</span>
    <div (click)="onLeadMagnetClick()" class="lead-magnet-button">
      <i class="fas fa-file" title="Lead Magnet"></i>
    </div>
    <span style="color: #969696;">{{grid.currentItem.documents[0].leadMagnet}}</span>

  </div>
  <div class="bar">
    <span class="label">Page Title:</span>
    <input #pageTitle [value]="grid.currentItem.documents[0].pageTitle" placeholder="Page Title" #pageTitle (keydown)="onPageTitleChange($event)"
      (focus)="onPageTitleFocus(); pageTitle.select()" (blur)=onPageTitleBlur($event)>
  </div>
</div>