<div #menu class="menu" [style.left.px]="menuService.menuPos.x" [style.top.px]="menuService.menuPos.y" tabindex="0" (blur)="menuService.show = false">
    <div class="group" *ngFor="let group of menuService.menu.menuGroups">
        <div class="menu-row" *ngFor="let row of group.menuRows" (click)="row.action ? row.action() : null; row.action ? menuService.show = false : null" [ngClass]="{'disabled': row.isDisabled ? row.isDisabled(): false}">
            <div class="menu-row-data">{{row.caption}}</div>
            <div *ngIf="row.subMenu" class="arrow">
                <div class="menu submenu">
                    <div class="group" *ngFor="let subGroup of row.subMenu.menuGroups">
                        <div class="menu-row" *ngFor="let subRow of subGroup.menuRows" (click)="subRow.action ? subRow.action() : null; subRow.action ? menuService.show = false : null"
                            [ngClass]="{'disabled': subRow.isDisabled ? subRow.isDisabled(): false}">
                            <div class="menu-row-data">{{subRow.caption}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>