<div #editBox class="edit-box" (mousedown)="setSelection(); $event.stopPropagation()" (dblclick)="setEditMode()"
  tabindex="0" [ngClass]="{'edit-mode': inEditMode, 'selected': isSelected}" (contextmenu)="menuService.showMenu($event, editBoxManagerService.boxMenu)">

  <!-- Content -->
  <div class="content">
    <div *ngIf="!inEditMode" class="center-handle" (mousedown)="onMouseDown($event, 'center')"></div>
    <ng-content></ng-content>
    <ng-template #viewContainerRef>
      <!-- EditBoxes go here -->
    </ng-template>
  </div>

  <!-- Handles -->
  <div *ngIf="isSelected && !inEditMode">
    <div *ngIf="showTopHandle" class="horizontal-side top-side" (mousedown)="onMouseDown($event, 'top')">
      <div class="handle horizontal-handle"></div>
    </div>

    <div *ngIf="showBottomHandle" class="horizontal-side bottom-side" (mousedown)="onMouseDown($event, 'bottom')">
      <div class="handle horizontal-handle"></div>
    </div>

    <div *ngIf="showRightHandle" class="vertical-side right-side" (mousedown)="onMouseDown($event, 'right')">
      <div class="handle vertical-handle"></div>
    </div>

    <div *ngIf="showLeftHandle" class="vertical-side left-side" (mousedown)="onMouseDown($event, 'left')">
      <div class="handle vertical-handle"></div>
    </div>
    <div *ngIf="showTopLeftHandle" class="handle top-left-handle" (mousedown)="onMouseDown($event, 'topLeft')"></div>
    <div *ngIf="showTopRightHandle" class="handle top-right-handle" (mousedown)="onMouseDown($event, 'topRight')"></div>
    <div *ngIf="showBottomLeftHandle" class="handle bottom-left-handle" (mousedown)="onMouseDown($event, 'bottomLeft')"></div>
    <div *ngIf="showBottomRightHandle" class="handle bottom-right-handle" (mousedown)="onMouseDown($event, 'bottomRight')"></div>
  </div>
</div>