<div #editBox class="edit-box" style="top: 70px;left: 960px;">
  <div class="center-handle" (mousedown)="onMouseDown($event, 'center')"></div>

  <div class="horizontal-side top-side" (mousedown)="onMouseDown($event, 'top')">
    <div class="handle horizontal-handle"></div>
  </div>

  <div class="horizontal-side bottom-side" (mousedown)="onMouseDown($event, 'bottom')">
    <div class="handle horizontal-handle"></div>
  </div>

  <div class="vertical-side right-side" (mousedown)="onMouseDown($event, 'right')">
    <div class="handle vertical-handle"></div>
  </div>

  <div class="vertical-side left-side" (mousedown)="onMouseDown($event, 'left')">
    <div class="handle vertical-handle"></div>
  </div>
  <div class="handle top-left-handle" (mousedown)="onMouseDown($event, 'topLeft')"></div>
  <div class="handle top-right-handle" (mousedown)="onMouseDown($event, 'topRight')"></div>
  <div class="handle bottom-left-handle" (mousedown)="onMouseDown($event, 'bottomLeft')"></div>
  <div class="handle bottom-right-handle" (mousedown)="onMouseDown($event, 'bottomRight')"></div>
</div>