.edit-box {
    width: 500px;
    height: 500px;
    position: absolute;
    border: 1px solid #3899ec;
    cursor: move;
}
.handle {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border: 1px solid #3899ec;
    border-radius: 50%;
}
.horizontal-handle {
    top: -2px;
    left: 50%;
    margin-left: -4.5px;
}
.vertical-handle {
    top: 50%;
    left: -2px;
    margin-top: -4.5px;
}
.top-left-handle {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}
.top-right-handle {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}
.bottom-left-handle {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}
.bottom-right-handle {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}
.vertical-side {
    height: 100%;
    width: 5px;
    position: absolute;
    cursor: w-resize;
}
.horizontal-side {
    height: 5px;
    width: 100%;
    position: absolute;
    cursor: n-resize;
}
.left-side {
    left: -3px;
}
.right-side {
    right: -3px;
}
.top-side {
    top: -3px;
}
.bottom-side {
    bottom: -3px;
}