<div class="container" (mousedown)="linkService.show = false">
  <form (ngSubmit)="linkService.applyLink()" #form="ngForm" (mousedown)="$event.stopPropagation()">
    <div class="caption">Choose what to link to...</div>
    <div class="close" (click)="linkService.show = false">
      <i class="far fa-window-close"></i>
    </div>
    <div class="content-container">
      <div class="content">


        <label *ngFor="let linkOption of linkService.linkOptions; let i = index">
          <input #radio type="radio" name="option" [value]="linkOption" [(ngModel)]="linkService.selectedOption">
          <span *ngIf="i > 0; else custom">
            {{linkOption.name}}
          </span>
          <ng-template #custom>
            <input autocomplete="off" [disabled]="i === 0 && !radio.checked" type="text" placeholder="Custom link" name="custom" [value]="linkOption.value" [(ngModel)]="linkOption.value" autofocus>
          </ng-template>
        </label>
      </div>
      <div class="buttons-container">
        <button type="button" (click)="linkService.show = false">Cancel</button>
        <button type="submit" [disabled]="linkService.selectedOption.name === 'Custom' && form.form.controls.custom && form.form.controls.custom.value === ''">Done</button>
      </div>
    </div>
  </form>
</div>