<!-- Menu -->
<div class="menu">
    <menu-button buttonId="Shop" (onButtonClick)="activeScreen = $event" icon="fa-shopping-cart" default="true"></menu-button>
    <menu-button buttonId="LeadPage" (onButtonClick)="activeScreen = $event" icon="fa-magnet"></menu-button>
    <menu-button buttonId="Email" (onButtonClick)="activeScreen = $event" icon="fa-envelope"></menu-button>
    <menu-button buttonId="Social Media" (onButtonClick)="activeScreen = $event" icon="fa-users"></menu-button>
    <div class="save-button" (click)="saveService.save()" [class]="saveService.isChange() ? 'save-button blink' : 'save-button button-disabled'">Save</div>
</div>

<!-- Content -->
<div *ngIf="hasServerTime && !loginService.showLogin && !loginService.isLoggingIn && !loginService.invalidLogin" class="content-container">
    <!-- Shop -->
    <shop *ngIf="activeScreen == 'Shop'"></shop>

    <!-- Lead Page -->
    <lead-page #leadPage *ngIf="activeScreen == 'LeadPage'" [grid]="leadPageGrid">
        <lead-page-grid grid #leadPageGrid (onItemClick)="leadPage.onItemClick($event)" (onCollapsedTier)="leadPage.onCollapsedTier()"></lead-page-grid>
        <editor editor [name]="'LeadPage'">
            <lead-page-properties #leadPageProperties [grid]="leadPageGrid"></lead-page-properties>
        </editor>
    </lead-page>


    <!-- Email -->
    <email #email *ngIf="activeScreen == 'Email'" [grid]="emailGrid">
        <email-grid grid #emailGrid (onItemClick)="email.onItemClick($event)" (onCollapsedTier)="email.onCollapsedTier()"></email-grid>
    </email>

    <!-- Social -->
    <social *ngIf="activeScreen == 'Social Media'"></social>
</div>

<!-- Link form -->
<link-form *ngIf="linkService.show"></link-form>

<!-- Document preview -->
<document-preview *ngIf="documentPreviewService.show"></document-preview>

<!-- Prompt -->
<prompt *ngIf="promptService.show"></prompt>

<!-- Color Picker -->
<color-picker *ngIf="colorService.showColorPicker"></color-picker>

<login *ngIf="loginService.showLogin"></login>

<!-- Menu -->
<menu *ngIf="menuService.show"></menu>

<!-- Saving -->
<div *ngIf="saveService.isSaving || loginService.isLoggingIn" class="saving">
    <div>
        <i class="fas fa-circle-notch fa-spin fa-3x"></i>
        <div class="saving-text" [innerText]="saveService.isSaving ? 'Saving...' : 'Logging In...'"></div>
    </div>
</div>