<!-- Menu -->
<div class="menu">
    <menu-button buttonId="Shop" (onButtonClick)="activeScreen = $event" icon="fa-shopping-cart" default="true"></menu-button>
    <menu-button buttonId="Email" (onButtonClick)="activeScreen = $event" icon="fa-envelope"></menu-button>
    <menu-button buttonId="Lead Page" (onButtonClick)="activeScreen = $event" icon="fa-magnet"></menu-button>
    <menu-button buttonId="Social Media" (onButtonClick)="activeScreen = $event" icon="fa-users"></menu-button>
    <div class="save-button" (click)="saveService.save()" [class]="saveService.isChange() ? 'save-button blink' : 'save-button button-disabled'">Save</div>
</div>

<!-- Content -->
<div class="content-container">
    <!-- Shop -->
    <shop *ngIf="activeScreen == 'Shop'"></shop>

    <!-- Email -->
    <email #email *ngIf="activeScreen == 'Email'" [grid]="emailGrid">
        <email-grid #emailGrid (onItemClick)="email.onItemClick($event)"></email-grid>
    </email>

    <!-- Lead Page -->
    <lead-page #leadPage *ngIf="activeScreen == 'Lead Page'" [grid]="leadPageGrid">
        <lead-page-grid #leadPageGrid (onItemClick)="leadPage.onItemClick($event)"></lead-page-grid>
    </lead-page>

    <!-- Social -->
    <social *ngIf="activeScreen == 'Social Media'"></social>
</div>

<!-- Link form -->
<link-form *ngIf="linkService.show"></link-form>

<!-- Document preview -->
<document-preview *ngIf="documentPreviewService.show"></document-preview>

<!-- Prompt -->
<prompt *ngIf="promptService.show"></prompt>

<!-- Color Picker -->
<color-picker *ngIf="colorService.showColorPicker"></color-picker>

<!-- Menu -->
<menu *ngIf="menuService.show"></menu>

<!-- Saving -->
<div *ngIf="saveService.isSaving" class="saving">
    <div>
        <i class="fas fa-circle-notch fa-spin fa-3x"></i>
        <div class="saving-text">Saving...</div>
    </div>
</div>