<div class="header">Categories</div>
<div id="row-container" *ngFor="let tier1 of items; let i = index">
    <input [id]="'tier1Checkbox' + i" type="checkbox">
    <label [for]="'tier1Checkbox' + i" class="arrow-container"></label>
    <div class="row">{{tier1.name}}</div>
    
    <div class="header content" style="margin-left: 21px">Niches</div>
    <div  class="content" *ngFor="let tier2 of tier1.niches; let j = index" [ngClass]="{'content2' : checkbox.checked}">
        <input [id]="'tier2Checkbox_' + i + '_' + j" #checkbox (click)="''" type="checkbox">
        <label [for]="'tier2Checkbox_' + i + '_' + j" class="arrow-container" style="margin-left: 21px"></label>
        <div class="row">{{tier2.name}}</div>

        <div class="header content" style="margin-left: 42px">Products</div>
        <div class="content" *ngFor="let tier3 of tier2.products">
                <div class="row" style="margin-left: 42px">{{tier3.name}}</div>
        </div>
    </div>
</div>

