.content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}
input{
    display: none;
}
input:checked ~ .content {
    max-height: 20px;
}
input:checked ~ .content2 {
    max-height: 2000px;
}
input:checked + label::after {
    transform: translate(-1px, 1px) rotate(90deg);
  }
.header{
    width: 1000px;
    height: 20px;
    background: #525252;
    line-height: 20px;
    padding-left: 10px;
    color: white;
    font-size: 14px;
}
.arrow-container{
    width: 20px;
    height: 20px;
    background: #383838;
    border: 1px solid #5e5e5e;
    display:inline-block;
    vertical-align: top;
    cursor: pointer;
}
.row{
    width: 1000px;
    height: 20px;
    border: 1px solid #343434;
    display:inline-block;
    vertical-align: top;
    margin-left: -4px;
    line-height: 20px;
    padding-left: 10px;
    color: #aaaaaa;
    font-size: 14px;
}
#row-container:nth-child(even){
    .row{
        background: #282828;
    }
}
#row-container:nth-child(odd){
    .row{
        background: #2d2d2d;
    }
}
label::after {
    content: "";
    position: relative;
    left: 8px;
    top: 4px;
    display: block;
    transition: all .3s;
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #aeaeae;
  }