.container {
    width: 1370px;
    height: 100%;
    background: #1e1e1e;
    float: right;
    max-width: 1600px;
    box-sizing: border-box;
}
.emails-container {
    width: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}
.header {
    width: auto;
    height: 22px;
    background: #3b3b3b;
    line-height: 25px;
}
.bar {
    position: relative;
    width: auto;
    height: 23px;
}
.email-content-container {
    position: relative;
    width: auto;
    height: 800px;
    overflow-x: hidden;
    // overflow-y: scroll;
    background: #1e1e1e;
    clear: both;
    transition: max-height 0.5s;
}
.row{
    line-height: 23px;
}
.subject {
    padding-left: 5px;
}
input {
    display: none;
}
.no-content {
    color: #8e8e8e;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.page {
    background: #00000000;
    margin: auto;
    position: relative;
    // top: 1px;
    width: 600px;
    border: 1px dashed #969696;
}
.header-button {
    width: 18px;
    height: 18px;
    font-size: 16px;
    color: #b4b4b4;
    text-align: center;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    line-height: 24px;
    cursor: pointer;
    
}
.header-button:hover {
    color: #ffffff;
}
.palette {
    width: 6px;
    height: 6px;
    position: absolute;
    top: 13px;
    border: 1px solid #949494;
    left: 12px;
}
.button-container {
    height: 22px;
    position: absolute;
    right: 35px;
}
.button-group {
    border-right: 1px solid #a0a0a0;
    margin-left: 2.5px;
    display: inline-block;
}
.button-group:first-child {
    border-left: 1px solid #a0a0a0;
}
.edit-button{
    float: right;
    margin-right: 11px;
}
.highlight:not(.selected) > .edit-button{
    opacity: 0;
    transition: opacity 0.1s;
}
.highlight:hover:not(.selected) > .edit-button{
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.25s;
}