.container {
    width: 1370px;
    height: 100%;
    background: #1e1e1e;
    float: right;
    max-width: 1600px;
    box-sizing: border-box;
}
.emails-container {
    width: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}
.header {
    width: auto;
    height: 25px;
    background: #3b3b3b;
    line-height: 25px;
}
.bar {
    width: auto;
    height: 22px;
}
.email-content-container {
    position: relative;
    width: auto;
    height: 800px;
    overflow-x: hidden;
    background: #1e1e1e;
    clear: both;
    transition: max-height 0.5s;
}
.row{
    line-height: 22px;
}
.subject {
    padding-left: 5px;
}
input {
    display: none;
}
.no-content {
    color: #8e8e8e;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.page {
    background: #00000000;
    margin: auto;
    position: relative;
    top: 10px;
    width: 600px;
    outline: 1px dashed #969696;
}
.edit-box-button {
    width: 22px;
    height: 22px;
    font-size: 22px;
    color: #7b7b7b;
    text-align: center;
    display: inline-block;
    margin: 1px 5px;
    position: relative;
    cursor: pointer;
    
}
.edit-box-button:hover {
    color: #a4a4a4;
}
.palette {
    width: 6px;
    height: 6px;
    position: absolute;
    top: 16px;
    border: 1px solid #949494;
    left: 15px;
}