<div class="container">
    <div resizable class="divider"></div>
    <div class="no-content" *ngIf="emails.length === 0 || (currentItem && !currentItem.isSelected) else emailContent">
        No Content
    </div>

    <ng-template #emailContent>
        <div class="header"></div>
        <div class="emails-container" [style.height.px]="height">
            <div *ngFor="let email of emails" class="row">
                <span>
                    <input #inputToggle name="email" [id]="email.id" type="radio">
                    <label class="toggle-button" [for]="email.id" (click)="inputToggle.checked ? inputToggle.checked = false : inputToggle.checked = true"></label>
                </span>
                <div class="bar subject" style="margin-left: 23px;">{{email.subject}}</div>
                <div class="email-content-container" [style.maxHeight.px]="inputToggle.checked ? 800 : 0">
                    <div [innerHTML]="email.body"></div>
                </div>
            </div>
        </div>
    </ng-template>


    <!-- <div style="overflow-x: hidden; height: 100%">
        <table bgcolor="#c7c7c7" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="top">
                <td>
                    <table bgcolor="#ffffff" width="600" border="1" cellpadding="0" cellspacing="0" align="center">
                        <tr><td height="25"></td></tr>
                        <tr valign="top"> 
                            <td>
                                <table border="1" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="right" valign="top" width="200" height="100">Hello</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div> -->

    
    
    
    <!-- <div style="overflow-x: hidden; height: 100%">
        <ng-template #contentContainer></ng-template>
    </div> -->









</div>

<div style="width: auto; height: 100%; background: #1e1e1e; overflow-x: hidden;">
    <email-grid (onItemClick)="onItemClick($event)"></email-grid>
</div>