.email-container {
    width: 1370px;
    height: 100%;
    background: #151515;
    float: right;
    max-width: 1600px;
    box-sizing: border-box;
}
.header {
    width: auto;
    height: 22px;
    background: #525252;
    color: white;
    overflow-x: hidden;
    box-sizing: border-box;
}