<div class="container">
  <div class="title">Color Picker</div>
  <div class="close" (click)="promptService.show = false">
    <i class="far fa-window-close"></i>
  </div>
  <div class="content">
    <div style="height: 256px; margin: 10px 0 10px 10px; display: flex;">


      <div style="position: relative; width: 256px; height: 256px; border: 1px solid #4c4c4c;" [style.background]="'hsl(' + hue + ', 100%, 50%)'">
        <div style="background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%); width: 100%; height: 100%; position:absolute"></div>
        <div style="background: linear-gradient(to bottom, transparent 0%, #000 100%); width: 100%; height: 100%; position:absolute"></div>
      </div>

      <div style="border: 1px solid #4c4c4c; width: 20px; height: 256px; background: linear-gradient(to bottom, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%); margin-left: 5px;"></div>

      <div style="width: 80px;
      background: blue;
      margin-left: 5px;">
        <div style="width: 80px;
        height: 60px;
        background: red;
        margin-bottom: 10px;"></div>

        <div style="margin-bottom: 10px;
        line-height: 24px;">
          <span>R:</span>
          <input>
        </div>

        <div style="margin-bottom: 10px;
        line-height: 24px;">
          <span>G:</span>
          <input>
        </div>

        <div style="margin-bottom: 10px;
        line-height: 24px;">
          <span>B:</span>
          <input>
        </div>

        

        

        

        <!-- <div style="width: 63px; margin-bottom: 10px; margin-top: 18px;">
          <div style="margin-left: 5px">Hex:</div>
          <input type="text" style="width: 78px;
          height: 15px;
          margin-left: 5px;">
        </div>

        <button>OK</button> -->



      </div>

    </div>




  </div>
</div>