<div class="background">
  <div class="container" [style.left.px]="position.x" [style.top.px]="position.y">
    <div class="title" (mousedown)="onMouseDown($event, 'move')">Color Picker</div>
    <div class="close" (click)="colorService.cancelColor()">
      <i class="far fa-window-close"></i>
    </div>
    <div class="content">
      <div style="height: 256px; margin: 10px 0 10px 10px; display: flex;">


        <div class="color-container" [style.background]="'hsl(' + hue + ', 100%, 50%)'" (mousedown)="onMouseDown($event, 'color')">
          <div class="saturation"></div>
          <div class="lightness"></div>
          <div class="circle" [style.left.px]="colorPos.x - 5" [style.top.px]="colorPos.y - 5"></div>
        </div>

        <div class="hue" (mousedown)="onMouseDown($event, 'hue')">
          <div class="arrow-right" [style.top.px]="huePos - 8"></div>
          <div class="arrow-left" [style.top.px]="huePos - 8"></div>
        </div>

        <div class="properties-container">
          <div class="color-value-container">

            <div class="color-value" [style.backgroundColor]="colorService.newColor"></div>
            <div class="color-value" [style.backgroundColor]="colorService.currentColor"></div>

          </div>

          <div class="input-container">
            <span>R:</span>
            <input #r maxlength="3" (keyup)="setRGBInput(r, r.value)" (focus)="r.select()">
          </div>

          <div class="input-container">
            <span>G:</span>
            <input #g maxlength="3" (keyup)="setRGBInput(g, g.value)" (focus)="g.select()">
          </div>

          <div class="input-container">
            <span>B:</span>
            <input #b maxlength="3" (keyup)="setRGBInput(b, b.value)" (focus)="b.select()">
          </div>

          <div class="input-container" style="margin-bottom: 20px">
            <span>hex:</span>
            <input #hex maxlength="7" class="hex-input" (keyup)="setHexInput(hex.value)" (focus)="hex.select()">
          </div>

          <button (click)="colorService.setColor()">Ok</button>
          <button (click)="colorService.cancelColor()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>