@import 'theme';

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #000000cf;
}
.content-container {
    width: 1600px;
    margin: auto;
    position: relative;
    margin-top: 50px;
    @include shadow();
}
.window {
    position: relative;
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
    border-left: 1px solid #646464;
    border-right: 1px solid #646464;
}
.caption {
    color: #dbdbdb;
    background: #2d2d2d;
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.close {
    color: #bbbbbb;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    float: right;
    margin-right: 5px;
}
.close:hover {
    color: white;
}
.close:active {
    color: #868686
}
.footer {
    background: #2d2d2d;
    height: 10px;
    position: relative;
}
.size-bar {
    width: 20px;
    height: 100%;
    background: #2a2a2a;
    position: absolute;
    z-index: 10;
    cursor: w-resize;
    display: flex;
    align-items: center;
    justify-content: center;
}
.size-bar:first-child {
    left: -20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.size-bar:nth-child(2) {
    right: -20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.indent-container {
    width: 8px;
    height: 30px;
    .indent {
        width: 2px;
        height: 100%;
        background: #1b1b1b;
    }
    .indent:first-child {
        float: left;
    }
    .indent:last-child {
        float: right;
    }
}