<div class="editor-container">
  <!-- Divider -->
  <!-- <div (onMouse)="shopGrid.isHighlightRow = !$event; filterGrid.isHighlightRow = !$event" resizable class="divider"></div> -->
  <div resizable class="divider"></div>

  <!-- Editors -->
  <div class="editor-content-container">
    <!-- Filter Editor -->
    <!-- <editor [name]="'Filter Editor'">
      <filter-grid #filterGrid></filter-grid>
    </editor> -->

    <!-- Featured Editor -->
    <!-- <editor [name]="'Featured Editor'">
        <div style="background: red;
        position: absolute;
        top: 108px;
        left: 10px;
        z-index: 100;" *ngIf="featuredGrid.showItemList">
        <div>Hello fsdadf</div>
        <div>There</div>
      </div>
      <featured-grid #featuredGrid [items]="shopGrid.tiers[0]"></featured-grid>
      
    </editor> -->

  </div>
</div>

<div class="grid-container">
  <shop-grid #shopGrid>
    <!-- Tier3 Row Content -->
    <ng-template #tier3RowContent>

      <!-- Filter Icon -->
      <div #icon class="filter-icon icon" title="Set Filters" (click)="shopGrid.onFilterClick(filter, icon, filterGrid.tiers[0].allItems, filterGrid.tiers[1].allItems)">
        <i class="fas fa-filter" data-fa-transform="rotate-45"></i>
      </div>

      <!-- Filter Container -->
      <div #filter style="display: none" (click)="shopGrid.stopPropagation($event)" (mouseover)="shopGrid.isHighlightRow = false"
        (mouseout)="shopGrid.isHighlightRow = true">
        <div *ngIf="shopGrid.filterData" class="filters-container">
          <!-- Filters -->
          <div *ngFor="let filter of shopGrid.filters">
            <div class="filter-title">{{filter.name}}</div>
            <!-- Filter Options -->
            <div *ngFor="let option of filter.options" class="option-container">
              <input type="checkbox" [checked]="shopGrid.getChecked(option.id)" (change)="shopGrid.setChecked(option.id)">
              <span class="filter-option">{{option.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </shop-grid>
</div>