<div class="editor-container">
  <!-- Divider -->
  <!-- <div (onMouse)="shopGrid.isHighlightRow = !$event; filterGrid.isHighlightRow = !$event" resizable class="divider"></div> -->
  <div resizable class="divider"></div>

  <!-- Editors -->
  <div class="editor-content-container">
    <!-- Filter Editor -->
    <editor [name]="'Filter Editor'">
      <filter-grid #filterGrid></filter-grid>
    </editor>

    <!-- Featured Editor -->
    <editor [name]="'Featured Editor'">
      <featured-grid #featuredGrid [categories]="shopGrid.tiers[0]" [products]="shopGrid.tiers[2]"></featured-grid>
    </editor>

  </div>
</div>

<!-- Shop Grid -->
<div class="shop-grid-container">
  <shop-grid #shopGrid [filterGrid]="filterGrid" (onChange)="featuredGrid.change = featuredGrid.change + 1">

    <!-- Filters -->
    <div *ngIf="shopGrid.filterGrid.tiers.length > 0" class="filters-container" [style.top.px]="shopGrid.filtersContainerTop"
      [style.display]="shopGrid.showFiltersContainer ? 'block' : 'none'">
      <div class="label">Product Filters</div>
      <div class="content">
        <div *ngFor="let filter of shopGrid.filters">
          <div class="filter-title">{{filter.name}}</div>
          <div *ngFor="let option of filter.options" class="option-container">
            <input type="checkbox" [checked]="option.isChecked">
            <span class="filter-option">{{option.name}}</span>
          </div>
        </div>
      </div>
    </div>
    
  </shop-grid>
</div>