.editor-container{
    width: 320px;
    height: 100%;
    background: #151515;
    float: right;
    max-width: 1600px;
}
.editor-content-container{
    height: 100%;
    overflow: auto;
}
.shop-grid-container{
    width: auto;
    height: 100%;
    background: #1e1e1e;
    overflow-x: hidden;
}