<div class="editor-container">
  <!-- Divider -->
  <!-- <div (onMouse)="shopGrid.isHighlightRow = !$event; filterGrid.isHighlightRow = !$event" resizable class="divider"></div> -->
  <div resizable class="divider"></div>

  <!-- Editors -->
  <div class="editor-content-container">
    <!-- Filter Editor -->
    <editor [name]="'Filter Editor'">
      <filter-grid></filter-grid>
    </editor>

    <!-- Featured Editor -->
    <editor [name]="'Featured Editor'">
      <featured-grid [categories]="shopGrid.tiers[0]" [products]="shopGrid.tiers[2]"></featured-grid>
    </editor>

  </div>
</div>

<div class="shop-grid-container">
  <shop-grid #shopGrid>
    
    <!-- <ng-template #tier3RowContent>

      
      <div #icon class="filter-icon icon" title="Set Filters" (click)="shopGrid.onFilterClick(filter, icon, filterGrid.tiers[0].allItems, filterGrid.tiers[1].allItems)">
        <i class="fas fa-filter" data-fa-transform="rotate-45"></i>
      </div>

      
      <div #filter style="display: none" (click)="shopGrid.stopPropagation($event)" (mouseover)="shopGrid.isHighlightRow = false"
        (mouseout)="shopGrid.isHighlightRow = true">
        <div *ngIf="shopGrid.filterData" class="filters-container">
          
          <div *ngFor="let filter of shopGrid.filters">
            <div class="filter-title">{{filter.name}}</div>
            
            <div *ngFor="let option of filter.options" class="option-container">
              <input type="checkbox" [checked]="shopGrid.getChecked(option.id)" (change)="shopGrid.setChecked(option.id)">
              <span class="filter-option">{{option.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template> -->
  </shop-grid>
</div>