.editor-container{
    width: 320px;
    height: 100%;
    background: #151515;
    float: right;
    max-width: 1600px;
}
.divider{
    width: 17px;
    height: 100%;
    background: #333333;
    cursor: col-resize;
    float: left;
}
.grid-container{
    width: auto;
    height: 100%;
    background: #1e1e1e;
    overflow-x: hidden;
}