<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Lead Page Api Image" enabled="true" stopProcessing="true">
                    <match url="LeadPage/api/Image" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://leadPages.nicheShack.com/api/Image" />
                </rule>
                <rule name="Email Api Image" enabled="true" stopProcessing="true">
                    <match url="Email/api/Image" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://email.nicheShack.com/api/Image" />
                </rule>
                <rule name="Api Mail" stopProcessing="true">
                    <match url="api/Mail" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://email.nicheshack.com/api/Mail" />
                </rule>
                <rule name="Api LeadPages" stopProcessing="true">
                    <match url="api/LeadPages" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://leadpages.nicheshack.com/api/LeadPages" />
                </rule>
                <rule name="Api" enabled="true" stopProcessing="true">
                    <match url="api/(.*)" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://www.nicheshack.com/api/{R:1}" />
                </rule>
                <rule name="Lead Page Images" enabled="true" stopProcessing="true">
                    <match url="Images/(l_.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://leadpages.nicheshack.com/Images/{R:1}" />
                </rule>
                <rule name="Email Images" enabled="true" stopProcessing="true">
                    <match url="Images/(e_.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://email.nicheshack.com/Images/{R:1}" />
                </rule>
                <rule name="Web Site Images" enabled="true" stopProcessing="true">
                    <match url="Images/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://www.nicheshack.com/Images/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
