.tier-container{
    position: relative;
}
.header, .row{
    line-height: 22px;
    overflow: hidden;
}
.header{
    background: #525252;
    color: white;
    display: flex;
}
.row{
    color: #aaaaaa;
    font-size: 14px;
}
.row:nth-child(odd){
    background: #282828;
}
.row:nth-child(even){
    background: #2d2d2d;
}
input{
    display: none;
}
input:checked ~ label::after {
    transform: translate(-1px, 1px) rotate(90deg);
    border-left-color: #02ce02;
}
input:checked ~ label:hover::after {
    border-left-color: #00ff00;
}
label{
    width: 20px;
    height: 20px;
    background: #383838;
    border: 1px solid #5e5e5e;
    display:inline-block;
    vertical-align: top;
    cursor: pointer;
}
label::after {
    content: "";
    position: relative;
    left: 8px;
    top: 4px;
    display: block;
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #aeaeae;
    transition: transform 0.5s;
}
label:hover::after{
    border-left-color: white;
}
.collapsed{
    max-height: 0;
    transition: max-height 0.5s;
}
.expanded{
    max-height: 22px;
}
.max-expanded{
    max-height: 2000px;
}
.field{
    width: 300px;
    padding-left: 4px;
    border-right: 1px solid #3a3a3a;
}
.button-container{
    width: 100%;
    position: relative;
    font-size: 16px;
    color: #c3c3c3;
}
.button{
    width: 22px;
    height: 22px;
    float: right;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}