@import 'theme';

.tier-container{
    position: relative;
}
.tier-border{
    border-left: 1px dashed #616161;
}
.header, .row{
    line-height: 22px;
    overflow: hidden;
}
.header{
    background: #525252;
    color: white;
}
input{
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.collapsed{
    max-height: 0;
    transition: max-height 0.5s;
}
.expand{
    max-height: 22px;
}
.max-expand{
    max-height: 2000px;
}
.button-container{
    width: 100%;
    height: 22px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}
.button{
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #9e9e9e;
}
.button:hover{
    color: #d6d6d6;
}
.disabled{
    color: #656565 !important;
    cursor: default;
}
.field{
    flex: 1 1;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px 0 0 5px;
    user-select: none;
}
.flex-container{
    display: flex;
}
.selected > .button-container{
    opacity: 1;
    .button{
        color: white;
    }
}
.visible:not(.selected) > .button-container{
    opacity: 0;
    transition: opacity 0.1s;
}
.visible:hover:not(.selected) > .button-container{
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.25s;
}
.parent-tier{
    overflow: auto;
    position: relative;
}
.no-results{
    text-align: center;
    color: #c7c7c7;
    font-size: 24px;
    height: 23px;
}
.edit{
    display: block;
    background: #005475;
    color: white;
    line-height: 23px;
    padding-left: 4px;
    margin-top: -1px;
    height: 22px;
    margin-left: -5px;
    border: 1px solid #00b7ff;
    box-sizing: border-box;
    outline: none;
    width: stretch;
    margin-bottom: 1px;
}
.edit::selection {
    background-color: #00c500;
    color: #fff;
}
.highlight:hover:not(.selected){
    background: $hover-color;
    color: white;
}